.btnnnn{
    border-radius:15% ;
    border: solid 1px;
    background-color: rgb(240, 102, 102);
    /* color: rgb(255, 255, 255); */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnnnn:hover {
    background-color: #76c000;
    /* border: solid 1px; */
    /* color: black; */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -5px;
    right: 105%;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .Button-styling:hover .tooltiptext {
    visibility: visible;
  }